#header	{
	-fx-background-color: #ff9933;
	-fx-padding: 10;
}

#headline	{
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #fff;
}

#body	{
	-fx-alignment: center;
}

#content	{
	-fx-background-color: #ffffff;
}

#footer	{
	-fx-padding: 10;
	-fx-border-color: #BFBFBF;
    -fx-border-insets: 2 0 0 0;
    -fx-content-display: top;
}

#footer .label	{
    -fx-font: 20px "Serif";
	-fx-text-fill: #000000;
}

.button {
	-fx-width: 180px;
    -fx-font: 24px "Serif";
    -fx-padding: 20 40;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-background-color: none;
    -fx-text-fill: #000;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: rgba(158,158,158,.2);	
}

.button:focused	{
	-fx-background-color: rgba(158,158,158,.4);
}